body {
    box-sizing: border-box;
}

.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    overflow: auto;
    transition: visibility 300ms, opacity 300ms linear;
}
.modal--visible {
    display: block;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    transition: visibility 300ms, opacity 300ms linear;
}

.modal__content {
    background-color: rgb(255, 255, 255); 
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid rgb(0,0,0);
    margin: auto;
    padding: 1.5rem;
}

.modal__content--close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.2rem;
}

.modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal__button {
    border: none;
    padding: 0.5rem 1rem;
    margin: 5px;
    color: #fff;
}

.modal__button--okey {
    background-color: rgb(18, 146, 46);
}

.modal__button--cancel {
    background-color: rgb(182, 50, 10);
}

@media screen and (min-width: 560px) {
    .modal__content {
        width: 50%;
    }
}